@using ConjuringClub.ViewModels

<article>

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Events")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @Html.Partial("_OneDriveDocuments", new OneDriveDocumentViewModel[] {
        new OneDriveDocumentViewModel { Title = "Consent Form", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212694", AuthKey = "AA0tb1MaX6HlWS4" },
        new OneDriveDocumentViewModel { Title = "Press Release", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212284", AuthKey = "AO2IOs98Md8YlYI" }
    })

    @Html.Partial("_YouTubeVideos", new string[] {
        "dxqZgbYE8eE", @* 4, 3, 2, 1in52.com *@
        "4sDDW8c4_sc", @* Shaun does magic in the coffee shop *@
        "6esexn7Sy3c", @* Magic man Shaun's amazing card trick *@
        "kUNO1J4r5KQ", @* Card to match book on dark deck with Scott *@
        "jfexPoZzwjQ", @* Blind shuffles, Erdnase System Of *@
        "s5a4u_bukBk", @* Blind riffles and cuts, Erdnase System Of *@
        "49IyCnIl_Ok", @* Theo four aces *@
        "oEi3FZ_ZWbc", @* Noah equivoke *@
        "Kzi8_zXYEMs", @* Noah monte *@
        "Dyxts0syTBY", @* Shaun yeast card *@
        "7A6vSAW0BEs", @* Dealt teaser *@
        "Ngmcu9-xRSk" @* Lance Burton Dove Act *@
        })

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>
