@using ConjuringClub.ViewModels

<article>

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @Html.Partial("_OneDriveDocuments", new OneDriveDocumentViewModel[] {
        new OneDriveDocumentViewModel { Title = "Consent Form", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212694", AuthKey = "AA0tb1MaX6HlWS4&em=2" }
    })

    @Html.Partial("_YouTubeVideos", new string[] { "4sDDW8c4_sc", "6esexn7Sy3c" })

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>