@using ConjuringClub.ViewModels

<article>

    <div class="row">

        <div class="col-md-12">

            @Html.Partial("_ImageGalleries")

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/asides/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@


            @Html.Partial("_Schedule")

            @Html.Partial("_Calendar")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @*
        Right click the document in OneDrive, choose embed, and generate the embed code.
        The CId, ResId, and AuthKey will be within the iFrame embed code.
        As of Nov 2014 these are location inside
            Shaun's OneDrive (via shaunluttin@hotmail.com) > 
            Documents > 
            Work > 
            Conjuring > 
            Conjuring Club > 
            OnWebsite
    *@

    @Html.Partial("_OneDriveDocuments")

    @Html.Partial("_YouTubeVideos")

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/asides/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_MagicInMovies")

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>
