@using ConjuringClub.ViewModels

<article>    

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Events")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @*
    Right click the document in OneDrive, choose embed, and generate the embed code.
    The CId, ResId, and AuthKey will be within the iFrame embed code.
    Note: These are loading slowly, so I have commented them out, for now.

    *@

    @Html.Partial("_OneDriveDocuments")

    @Html.Partial("_YouTubeVideos")

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-8">

            @Html.Partial("_Supplies")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>
