@using ConjuringClub.ViewModels

<article>    

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Events")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @*
        Right click the document in OneDrive, choose embed, and generate the embed code.
        The CId, ResId, and AuthKey will be within the iFrame embed code.
        Note: These are loading slowly, so I have commented them out, for now.

    @Html.Partial("_OneDriveDocuments", new OneDriveDocumentViewModel[] {
        new OneDriveDocumentViewModel { Title = "Media & Press Consent Form", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212694", AuthKey = "AA0tb1MaX6HlWS4" },
        new OneDriveDocumentViewModel { Title = "Kit Order Form", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212919", AuthKey = "AMk7vys2PTVi-TU" },
        new OneDriveDocumentViewModel { Title = "Press Release - 2014 Aug", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%214790", AuthKey = "AMpMKNs5VyoJnl4" },
        new OneDriveDocumentViewModel { Title = "Driftwood Article - 2014 Mar", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212284", AuthKey = "AO2IOs98Md8YlYI" },
        new OneDriveDocumentViewModel { Title = "Driftwood Article - 2013 Nov", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%211127", AuthKey = "AAis77ikS-APt1k" },
        new OneDriveDocumentViewModel { Title = "Marketing Poster - 2013", CId = "DB5DB99F7F8F6191", ResId = "DB5DB99F7F8F6191%212945", AuthKey = "ACaclo58Q6Bd0o0" }
    })

    *@

    @Html.Partial("_YouTubeVideos")

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>
