@using ConjuringClub.ViewModels

<article>

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Events")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Members")

    @Html.Partial("_AboutUs")

    @*
        Right click the document in OneDrive, choose embed, and generate the embed code.
        The CId, ResId, and AuthKey will be within the iFrame embed code.
        As of Nov 2014 these are location inside
            Shaun's OneDrive (via shaunluttin@hotmail.com) > 
            Documents > 
            Work > 
            Conjuring > 
            Conjuring Club > 
            OnWebsite
    *@

    @Html.Partial("_OneDriveDocuments", new OneDriveDocumentViewModel[] {
        new OneDriveDocumentViewModel { Title = "Media & Press Consent Form", CId = "3894840904335CBB", ResId = "3894840904335CBB%211046", AuthKey = "AKI6hSnt6q_RFRI" }, //
        new OneDriveDocumentViewModel { Title = "Kit Order Form", CId = "3894840904335CBB", ResId = "3894840904335CBB%211048", AuthKey = "ALp9EuOZY8ry-2A" }, //
        new OneDriveDocumentViewModel { Title = "Press Release - 2014 Aug", CId = "3894840904335CBB", ResId = "3894840904335CBB%211049", AuthKey = "ANpwCZWjQj7D5Bc" }, //
        new OneDriveDocumentViewModel { Title = "Driftwood Article - 2014 Mar", CId = "3894840904335CBB", ResId = "3894840904335CBB%211050", AuthKey = "AET0sqbgVqpqwAM" },
        new OneDriveDocumentViewModel { Title = "Driftwood Article - 2013 Nov", CId = "3894840904335CBB", ResId = "3894840904335CBB%211063", AuthKey = "AC8xd_PwnaJXT5Q" },
        new OneDriveDocumentViewModel { Title = "Marketing Poster - 2013", CId = "3894840904335CBB", ResId = "3894840904335CBB%211103", AuthKey = "AIn-rAJSkqsgp_o" },
        new OneDriveDocumentViewModel { Title = "Stage Construction Plans - 2014", CId = "3894840904335CBB", ResId = "3894840904335CBB%211051", AuthKey = "AMuHay2fvcmiJVM" }
    })

    @Html.Partial("_YouTubeVideos")

    <div class="row">

        <div class="col-sm-8">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-8">

            @Html.Partial("_Supplies")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_FigureAside", new FigureAsideViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>
