@using ConjuringClub.ViewModels

<section>

    <div class="page-header">
        <h1 id="members">Members</h1>
    </div>

    <div class="row">

        <div class="col-sm-6">
            @Html.Partial("_Member",
            new MemberViewModel("Images/members/anjali-sm.png",
                "Anjali",
                "Anjali is full of confidence and wonder. She will be performing the Amazing Vanish Coin, the Astounding Elastic Bands, and a Mystery to be Anounced."))
        </div>
        <div class="col-sm-6">
            @Html.Partial("_Member",
            new MemberViewModel("Images/members/jaysen-sm.png",
                "Jaysen",
                "Jaysen is the king of cards. He will demonstrate Feats of Card Throwing, The Magical Clock, and from there an Ace in the Hole."))
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("_Member",
            new MemberViewModel("Images/members/marley-sm.png",
                "Marley",
                "Marley is a seasoned performer. You may have seen him at Saturday Market. He will present a Poker Demonstration, Triumph, and some Wonderous Body Tricks."))
        </div>
        <div class="col-sm-6">
            @Html.Partial("_Member",
            new MemberViewModel("Images/members/noah-sm.png",
                "Noah",
                "Noah is the brain of the bunch. From him expect a Psychological Mystery, a Card Cypher, and perhaps some Sticks and Strings."))
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("_Member",
            new MemberViewModel("Images/members/theo-sm.png",
                "Theo",
                "Theo is the youngest. Expect dazzling with a Slip and a Cut, Some Travelling Aces, and Knot a Rope Trick."))
        </div>

    </div>

</section>
