@using ConjuringClub.ViewModels

<article>

    @Html.Partial("_Header")

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_AsideImage", new AsideImageViewModel("/Images/MagicShow_Small_028_360x540.jpg", "Skill takes practice."))

        </div>

        <div class="col-sm-6">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Videos", new string[] { "4sDDW8c4_sc", "6esexn7Sy3c" })

    <div class="row">

        <div class="col-sm-6">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_AsideImage", new AsideImageViewModel("/Images/MagicShow_Small_005_360x540.jpg", "Practice makes permanent."))

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>