<article>

    @Html.Partial("_Header")

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_AsideImage")

        </div>

        <div class="col-sm-8">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Conduct")

        </div>

    </div>

    @Html.Partial("_Levels")

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>