<article>

    @Html.Partial("_Header")

    <div class="row">

        <div class="col-sm-4">

            @Html.Partial("_AsideImage", "/Images/MagicShow_Small_028_360x540.jpg")

        </div>

        <div class="col-sm-6">

            @*@Html.Partial("_Login")*@

            @Html.Partial("_Schedule")

            @Html.Partial("_Conduct")

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            @Html.Partial("_Levels")

        </div>

        <div class="col-sm-4">

            @Html.Partial("_AsideImage", "/Images/MagicShow_Small_005_360x540.jpg")

        </div>

    </div>

    @Html.Partial("_Books")

    @Html.Partial("_Footer")

</article>