<!DOCTYPE html>
<html ng-app="conjuringApp">
<head>
    <title>Salt Spring Conjuring Club</title>

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/app")

</head>
<body class="container">

    @RenderBody()

    @Scripts.Render("~/cdn/angular")
    @Scripts.Render("~/bundles/javascript")

</body>
</html>
