<!DOCTYPE html>
<html ng-app="conjuringApp">
<head>
    <title>Salt Spring Conjuring Club</title>        
    
    @Styles.Render("~/bundles/css")

</head>
    <body class="container">
        
        @RenderBody()
        
        @Html.Partial("_Header")

        @Html.Partial("_Identity")
        
        @Html.Partial("_Conduct")
        
        @Html.Partial("_Levels")

        @Html.Partial("_Books")
        
        @Html.Partial("_Footer")                      

        @Scripts.Render("~/cdn/angular")
        @Scripts.Render("~/bundles/javascript")

    </body>
</html>
